---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts');
---

<Base title="Blog" description="Latest posts on nonprofit AI advancements">
  <h1>Blog</h1>
  <ul>
    {allPosts.map((post) => (
      <li><a href={`${import.meta.env.BASE_URL}blog/${post.slug}/`}>{post.data.title}</a> – {post.data.date}</li>
    ))}
  </ul>
</Base>
